<header>
  <div class="container">
    <ul><a routerLink="/">Food Mine</a></ul>

    <nav>
      <ul>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard">Jhon</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/profile">Oders</a>
            <a>Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            Cart <span>3</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
